* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
    
}
body{
  background-color: #111;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: #222;
}

.page3{
    height: 100vh;
    width: 100%;
    background-color: #333;
}