.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(44, 115, 145);
}

.nav div{
    display: flex;
    align-items: center;
    gap: 40px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

a{
    color: white;
}